<label for="Images">Images</label>
<div class="images-wrapper">
  <div class="images">
    <!-- Loop through the images array and display each image -->
    <div class="image" *ngFor="let image of images; let i = index">
      <img [src]="image" alt="Product Image">  <!-- Display the image -->
      <div class="close-image" (click)="removeImage(i)">
        <i class="fa fa-close"></i>
      </div>
    </div> 
  </div>
  <div class="add-image" (click)="triggerFileInput()">
    <!-- File input to allow the user to select an image -->
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept="image/*">
    <i class="fa fa-plus"></i>  <!-- Icon/button for adding images -->
  </div>
</div>