button {
  background-color: #15bf4e;
  font-weight: bold;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.publish-btn button:hover {
  background-color: #13a645;
}
