<div class="container">
  <div class="header">
     <app-header></app-header>
  </div>
  <div class="aside">
     <app-admin-aside></app-admin-aside>
  </div>
  <div class="main">

    <app-loading-component *ngIf="loading$ | async" class="loading-spinner">
      Cargando...
    </app-loading-component>

    <app-error-component *ngIf="error$ | async as errorMessage" class="error-message">
      {{ errorMessage }}
    </app-error-component>

    <app-success-component *ngIf="success$ | async as successMessage" class="success-message">
      {{ successMessage }}
    </app-success-component>

    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <div class="footer">
    <!-- I will make the footer Component, but not now -->
  </div>
</div>
