main {
  background-color: white;
  padding: 20px;
}

.main-header {
  text-align: center;
  padding: 15px;
}

.grid-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.category {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  height: 250px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.category:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* .smartphones {
  background-image: url('assets/images/istockphoto-579156228-1024x1024.jpg');
}

.pc {
  background-image: url('assets/images/istockphoto-579156228-1024x1024.jpg');
}

.console {
  background-image: url('assets/images/istockphoto-530010099-1024x1024.jpg');
}

.gaming {
  background-image: url('assets/images/istockphoto-1314343964-1024x1024.jpg');
}

.tv {
  background-image: url('assets/images/istockphoto-529662428-1024x1024.jpg');
}

.accessories {
  background-image: url('assets/images/istockphoto-860853774-1024x1024.jpg');
} */

/* RESPONSIVE CATEGORIES */
@media (max-width: 700px) {
  .grid-categories {
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .grid-categories {
      grid-template-columns: 1fr;
  }
}
