<main>
  <div class="main-header">
      <h1>"Click, Click... ¡It's Mine!"</h1>
      <p>¿You Want It? You Get It.</p>
      <p>So easy Like That, No complications, and Fast services.</p>
  </div>

  <div class="grid-categories">
      <div class="category smartphones" [ngStyle]="{'background-image': 'url(assets/images/istockphoto-579156228-1024x1024.jpg)'}">
          <div class="category-content">
              <h2>Smartphones</h2>
          </div>
      </div>
      <div class="category pc" [ngStyle]="{'background-image': 'url(assets/images/istockphoto-579156228-1024x1024.jpg)'}">
          <div class="category-content">
              <h2>PC</h2>
          </div>
      </div>
      <div class="category console" [ngStyle]="{'background-image': 'url(assets/images/istockphoto-530010099-1024x1024.jpg)'}">
          <div class="category-content">
              <h2>Consoles</h2>
          </div>
      </div>
      <div class="category gaming" [ngStyle]="{'background-image': 'url(assets/images/istockphoto-1314343964-1024x1024.jpg)'}">
          <div class="category-content">
              <h2>Gaming</h2>
          </div>
      </div>
      <div class="category tv" [ngStyle]="{'background-image': 'url(assets/images/istockphoto-529662428-1024x1024.jpg)'}">
          <div class="category-content">
              <h2>TV</h2>
          </div>
      </div>
      <div class="category accessories" [ngStyle]="{'background-image': 'url(assets/images/istockphoto-860853774-1024x1024.jpg)'}">
          <div class="category-content">
              <h2>Accessories</h2>
          </div>
      </div>
  </div>
</main>
