<main>
  <div class="mh">
    <h2>{{ isEditing ? 'Edit Product' : 'Create Product' }}</h2>
  </div>

  <div class="wrapper">
    <div class="create-product-form">
      <form [formGroup]="productForm" (ngSubmit)="submitProduct()">
        <!-- Title Field -->
        <div class="inp">
          <label for="Title">Title</label>
          <input type="text" formControlName="title" placeholder="Title">
          <div *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched">
            <small class="val-error" *ngIf="productForm.get('title')?.errors?.['required']">Title is required.</small>
          </div>
        </div>
        
        <!-- Description Field -->
        <div class="inp">
          <label for="Description">Description</label>
          <input type="text" formControlName="description" placeholder="Description">
          <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
            <small class="val-error" *ngIf="productForm.get('description')?.errors?.['required']">Description is required.</small>
          </div>
        </div>
        
        <!-- Pictures Field -->
        <div class="inp-images">
          <app-product-images-form (picturesChange)="onPicturesChange($event)" formControlName="pictures"></app-product-images-form>
          <div *ngIf="productForm.get('pictures')?.invalid && productForm.get('pictures')?.touched">
            <small class="val-error" *ngIf="productForm.get('pictures')?.errors?.['emptyArray']">At least one image is required.</small>
          </div>
        </div>
        
        <!-- Category Field -->
        <div class="inp">
          <label for="Category">Category</label>
          <select formControlName="category">
            <option [value]="1">Smartphones</option>
            <option [value]="2">PC</option>
            <option [value]="3">Consoles</option>
            <option [value]="4">Gaming</option>
            <option [value]="5">Music</option>
            <option [value]="6">Accesories</option>
          </select>
          <div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
            <small class="val-error" *ngIf="productForm.get('category')?.errors?.['required']">Category is required.</small>
          </div>
        </div>

        <!-- Stock Field -->
        <div class="inp">
          <label for="Stock">Stock</label>
          <input type="number" formControlName="stock" placeholder="Stock">
          <div *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">
            <small class="val-error" *ngIf="productForm.get('stock')?.errors?.['required']">Stock is required.</small>
            <br>
            <small class="val-error" *ngIf="productForm.get('stock')?.errors?.['min']">Stock must be a non-negative number.</small>
          </div>
        </div>
        
        <div class="inp">
          <label for="Price">Price</label>
          <input type="text" formControlName="price" placeholder="Price USD">
          <div *ngIf="productForm.get('price')?.errors">
            <small class="val-error" *ngIf="productForm.get('price')?.errors?.['required']">Price is required.</small>
            <br>
            <small class="val-error" *ngIf="productForm.get('price')?.errors?.['invalidPrice']">Price must be a valid number greater than 0.</small>
          </div>
        </div>


        <!-- Featured Checkbox -->
        <div class="inp-featured">
          <input type="checkbox" formControlName="featured">
          <label for="Featured">Featured</label>
        </div>

        <!-- Submit Button -->
        <div class="publish-btn">
          <button type="submit">{{ isEditing ? 'Update' : 'Publish' }}</button>
        </div>
      </form>
    </div>
  </div>
</main>