<main>
  <div class="mh">
    <h2>{{ isEditing ? 'Edit Product' : 'Create Product' }}</h2>
  </div>

  <div class="wrapper">
    <div class="create-product-form">
      <form [formGroup]="productForm" (ngSubmit)="submitProduct()">
        <div class="inp">
          <label for="Title">Title</label>
          <input type="text" formControlName="title" placeholder="Title">
          <div *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched">
            <small class="val-error" *ngIf="productForm.get('title')?.errors?.['required']">Title is required.</small>
          </div>
        </div>
        
        <div class="inp">
          <label for="Description">Description</label>
          <input type="text" formControlName="description" placeholder="Description">
          <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
            <small class="val-error" *ngIf="productForm.get('description')?.errors?.['required']">Description is required.</small>
          </div>
        </div>
        
        <div class="inp-images">
          <!-- Listens to the pictures array when they change and verifies if the pictures array is still valid -->
          <app-product-images-form (picturesChange)="onPicturesChange($event)" formControlName="pictures"></app-product-images-form>
          <div *ngIf="productForm.get('pictures')?.invalid && productForm.get('pictures')?.touched">
            <small class="val-error" *ngIf="productForm.get('pictures')?.errors?.['emptyArray']">At least one image is required.</small>
          </div>
        </div>
        
         <div class="inp">
            <label for="Category">Category</label>
            <select formControlName="category">
                <option 
                [value]=1>Smartphones
                </option>
                <option>
                    
                </option>
            </select>
             <div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
              <small class="val-error" *ngIf="productForm.get('category')?.errors?.['required']">Category is required.</small>
              </div>
         </div>

        <div class="inp">
          <label for="Stock">Stock</label>
          <input type="number" formControlName="stock" placeholder="Stock">
          <div *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">
            <small class="val-error" *ngIf="productForm.get('stock')?.errors?.['required']">Stock is required.</small>
            <br>
            <small class="val-error" *ngIf="productForm.get('stock')?.errors?.['min']">Stock must be a non-negative number.</small>
          </div>
        </div>

        <div class="inp-featured">
          <input type="checkbox" formControlName="featured">
          <label for="Featured">Featured</label>
        </div>

        <div class="publish-btn">
           <button type="submit">{{ isEditing ? 'Update' : 'Publish' }}</button>
        </div>
      </form>
    </div>
  </div>
</main>