/* You can add global styles to this file, and also import other style files */
:root {
    --logo-color: #4682B4;
    /* Color that can be used for inputs borders */
    --inp-border-color: #1DA1F2;
    --loading: #e0f7fa;
    --error: #ffebee; 
    --success: #e8f5e9; 
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Red color for validation errors */
.val-error {
    color: red;
}
