/* You can add global styles to this file, and also import other style files */
:root {
    --logo-color: #4682B4; 
    --inp-border-color: #1DA1F2;
    --loading: #00bcd4; 
    --error: #d32f2f; 
    --success: #388e3c; 
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Red color for validation errors */
.val-error {
    color: #d32f2f;
}