<div class="cart-ticket">
  <p class="ct-total">Total: $ {{ finalPrice }}</p>

  <div class="ct-items" *ngIf="cart$ | async as cart">
    <div class="ct-item" *ngFor="let product of cart.items">
      <p>{{ product.title }}</p>
      <p>{{ product.price | currency: 'USD' }}</p>
    </div>
  </div>

  <div class="reduction-inp">
    <form [formGroup]="reductionForm" (ngSubmit)="applyReduction()">
      <input 
        type="text" 
        formControlName="reductionCode" 
        placeholder="Have A Reduction Code?" 
      />
    </form>
  </div>

  <app-checkout-button [reductionForm]="reductionForm">

  </app-checkout-button>

  <div class="p-or">
    <p>OR</p>
  </div>

  <app-paypal-button [reductionForm]="reductionForm">

  </app-paypal-button>
</div>
