<div class="cart-ticket">
    <p class="ct-total">Total: 4591 €</p>
    <div class="ct-items">
      <div class="ct-item">
        <p>iPhone 20 Pro Max</p>
        <p>730 €</p>
      </div>
       <div class="ct-item">
        <p>iPhone 20 Pro Max</p>
        <p>730 €</p>
      </div>
       <div class="ct-item">
         <p>iPhone 20 Pro Max</p>
         <p>730 €</p>
       </div>
        <div class="ct-item">
          <p>iPhone 20 Pro Max</p>
          <p>730 €</p>
        </div>
         <div class="ct-item">
           <p>iPhone 20 Pro Max</p>
           <p>730 €</p>
         </div>
    </div>
    
    <!-- Checkout button -->
    <app-checkout-button>
      
    </app-checkout-button>
  </div>