<div class="header"> 
  <header>
    <div class="h-logo">
      <h2>Jagarv</h2>
    </div>
    <div class="h-grow">
      
      <div class="h-grow-search">
        <input [(ngModel)]="searchQ" type="text" placeholder="Search Something">
      </div>

    </div>
    <div class="h-user">
      <div (click)="handleSearch()" class="h-search">
        <i class="fa fa-search"></i>
      </div>
      <div class="h-cart">
        <i class="fa fa-shopping-cart"></i>
        <div class="h-cart-len">
          <p>0</p>
        </div>
      </div>
      <div>
        <div class="not-logged-in">
          <i id="login-" class="fa fa-user"></i>
        </div> 
      </div>
    </div>
  </header> 
</div>
