<div class="order">
  <div class="order-h">
    <p class="o-id">Order N: {{ order?.id ?? 'NULL' }}</p>
    <div class="order-details">
      <div class="order-detail" *ngFor="let orderProduct of order!.products!">
        <p>Product ID: {{ orderProduct!.product!.id ?? 'NULL' }}</p>
        <p>Quantity: {{ orderProduct!.quantity ?? 'NULL' }}</p>
        <div class="order-detail-attribute" *ngFor="let option of orderProduct!.product!.options!">
          <p>{{ option!.attributeName }}: {{ option!.value }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="order-m">
    <div class="order-imgs">
      <div class="order-img" *ngFor="let orderProduct of order!.products!">
        <img *ngIf="orderProduct!.product!.pictures!.length > 0" [src]="orderProduct!.product!.pictures![0]" />
      </div>
    </div>
  </div>
  <div class="order-f">
    <div class="order-amount">
      <p>$ {{ order!.amount ?? 'NULL' }}</p>
    </div>
    <div class="order-status" [ngClass]="{
        'preparing': order?.status === 'PREPARING',
        'processing': order?.status === 'PROCESSING',
        'arrived': order?.status === 'ARRIVED'
    }">
      <p *ngIf="order?.status === 'PREPARING'">
        <i class="fas fa-cogs"></i> PREPARING
      </p>
      <p *ngIf="order?.status === 'PROCESSING'">
        <i class="fas fa-plane"></i> IN TRANSIT
      </p>
      <p *ngIf="order?.status === 'ARRIVED'">
        <i class="fas fa-check"></i> ARRIVED
      </p>
    </div>
  </div>

  <div class="order-actions">
    <button class="status-btn in-progress" *ngIf="order!.status === 'TRANSIT'">
      <i class="fas fa-plane"></i> TRANSIT
    </button>
    <button class="status-btn arrived" *ngIf="order!.status === 'ARRIVED'">
      <i class="fas fa-check"></i> ARRIVED
    </button>
  </div>
</div>