
<main>
    <div class="main-header">
        <div class="main-header-product">
            <!-- The product images slider and images. -->
            <app-product-details-images></app-product-details-images>
            <div class="main-product-details">
                <!-- The product data like title, description and buttons to buy and choose attributes -->
                <app-product-details-data></app-product-details-data>
            </div> 
        </div> 
    </div> 
    
    <!-- Product opinions and create opinion form -->
    <div class="main-opinions">
        <!-- Create opinion form -->
        <app-create-product-opinion></app-create-product-opinion>
        <div class="opinion" *ngFor="let opinion of product?.opinions">
            <app-product-opinion [opinion]="opinion"></app-product-opinion>
        </div>
    </div> 
</main>
