<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="aside-header" (click)="toggleSidebar()">
    <h2 class="logo" [style.display]="isCollapsed ? 'none' : 'block'">Jagarv</h2>
    <i id="icon" class="fa" [ngClass]="isCollapsed ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
  </div>

  <nav class="aside-nav">
    <ul>
      <li>
        <i class="fa fa-dashboard"></i>
        <span><a href="Home">Dashboard</a></span>
      </li>
      <li>
        <i class="fa fa-box"></i>
        <span><a href="Products">Products</a></span>
      </li>
      <li>
        <i class="fa fa-users"></i>
        <span><a href="Cart">Users</a></span>
      </li>
      <li>
        <i class="fa fa-truck"></i>
        <span><a href="My orders">Orders</a></span>
      </li>
      <li>
        <i class="fa fa-usd"></i>
        <span><a href="My Wishlist">Sales</a></span>
      </li>
      <li>
        <i class="fa fa-bell"></i>
        <span><a href="Notifications">Notifications</a></span>
      </li>
      <li>
        <i class="fa fa-arrow-left"></i>
        <span><a href="Go Back Home">Go Back Home</a></span>
      </li>
    </ul>
  </nav>
</aside>