<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="aside-header" (click)="toggleSidebar()">
    <a routerLink="/" *ngIf="!isCollapsed">
      <h2 class="logo">Jagarv</h2>
    </a>
    <i id="icon" class="fa" [ngClass]="isCollapsed ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
  </div>

  <nav class="aside-nav">
    <ul>
      <li>
        <a routerLink="/admin/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/products">
          <i class="fa fa-box"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/users">
          <i class="fa fa-users"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/orders">
          <i class="fa fa-truck"></i>
          <span>Orders</span>
        </a>
      </li>
      <li>
        <a routerLink="/">
          <i class="fa fa-arrow-left"></i>
          <span>Go Back Home</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>