<div class="main-header"> 
    <h3>¡Hello, Juan!</h3>
    <p>Dashboard</p>
</div>

<!-- i will fill this with real data soon -->

<div class="insights">
    <div class="insight">
     <div class="ins-info">
       <p>Income Today</p>
       <p class="ins-income">+ $79</p>
     </div>
     <div class="ins-icon">
       <div>
         <i class="fa fa-money"></i>
       </div>
     </div>
     
    </div>
    <div class="insight">
                 <div class="ins-info">
       <p>Orders Today</p>
       <p class="ins-income">0</p>
     </div>
     <div class="ins-icon">
       <div>
         <i class="fa fa-truck"></i>
       </div>
     </div>
     
    </div>
    <div class="insight">
                  <div class="ins-info">
       <p>Users Today</p>
       <p class="ins-income">+ 3</p>
     </div>
     <div class="ins-icon">
       <div>
         <i class="fa fa-user"></i>
       </div>
      </div>
    </div>
    <div class="insight">
                <div class="ins-info">
       <p>Total Income</p>
       <p class="ins-income">$ 8913</p>
     </div>
     <div class="ins-icon">
       <div>
         <i class="fa fa-money"></i>
       </div>
     </div>
    </div>
    
  </div> <!-- -->