<div class="cart-product">
    <div class="cp-details">
      <div class="cp-image">
         <img [src]="product?.pictures?.[0] ?? 'other path'">
      </div>
      
      <div class="cp-data">
        <p class="cp-title">{{ product?.title ?? 'Not Provided' }}</p>
        <p class="cp-price">$ {{ product?.price ?? 0}}</p>
        <div class="cp-attrubutes" *ngFor="let option of product?.options">
           <p>{{ option.attributeName }}: {{ option.value }}</p> 
        </div>
      </div>
    </div>
    <div class="cp-remove" *ngIf="product">
  <app-remove-cart-product [productId]="product!.productId">
    <!-- Component for product removal of the cart -->
  </app-remove-cart-product>
</div>
  </div>