<div class="cart-product">
    <div class="cp-details">
      <div class="cp-image">
        <img src="Screenshot_20240928-011835.png" alt="Screenshot_20240928-011835.png">
      </div>
      
      <div class="cp-data">
        <p class="cp-title">Samsung Galaxy S20 FE 5G</p>
        <p class="cp-price">341 €</p>
        <p>64 Sold</p>
        <div class="cp-attrubutes">
          <p>128GB</p>
          <p>Red</p>
        </div>
      </div>
    </div>
    <div class="cp-remove">
      <app-remove-cart-product>
        <!-- component for product removal of the cart -->
      </app-remove-cart-product>
    </div>
  </div>