main .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .create-product-form {
  width: 60%;
  height: 100%;
  border-radius: 10px;
  background-color: white; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px; 
}


main form .inp-images img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

main form .inp-images .images, .images-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}


main form .inp-images .add-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  font-size: 25px;
}


main form .inp label, .inp input {
  display: block;
}


main form .inp label {
  color: gray;
  margin-bottom: 5px; 
}


main form .inp, .inp-images, .inp-featured, .publish-btn {
  padding: 20px;
  margin-bottom: 15px;
}

 
main form .inp input {
  width: 100%;
  height: 40px; 
  padding: 10px;
  font-size: 16px; 
  border: 1px solid var(--inp-border-color);
  border-radius: 5px; 
}

main form .inp-featured input {
  margin-right: 10px; 
}


main form .publish-btn button {
  background-color: #15BF4E;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main form .publish-btn button:hover {
  background-color: #0056b3;
}

@media(max-width: 600px) {
  main .create-product-form {
    width: 100%;
  }
}
