<main>
  <div class="mh">
    <h2>Create Product</h2>
  </div>

  <div class="wrapper">
    <div class="create-product-form">
      <form [formGroup]="productForm" (ngSubmit)="createProduct()">
        <div class="inp">
          <label for="Title">Title</label>
          <input type="text" formControlName="title" placeholder="Title">
          <div *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched">
            <small class="val-error" *ngIf="productForm.get('title')?.errors?.['required']">Title is required.</small>
          </div>
        </div>
        
        <div class="inp">
          <label for="Description">Description</label>
          <input type="text" formControlName="description" placeholder="Description">
          <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
            <small class="val-error" *ngIf="productForm.get('description')?.errors?.['required']">Description is required.</small>
          </div>
        </div>
        
        <div class="inp-images">
          <app-create-product-images></app-create-product-images>
          <div *ngIf="productForm.get('pictures')?.invalid && productForm.get('pictures')?.touched">
            <small class="val-error" *ngIf="productForm.get('pictures')?.errors?.['emptyArray']">At least one image is required.</small>
          </div>
        </div>

        <div class="inp">
          <label for="Category">Category</label>
          <input type="text" formControlName="category" placeholder="Category">
          <div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
            <small class="val-error" *ngIf="productForm.get('category')?.errors?.['required']">Category is required.</small>
          </div>
        </div>
        
        <div class="inp">
          <label for="Price">Price</label>
          <input type="text" formControlName="price" placeholder="Price USD">
          <div *ngIf="productForm.get('price')?.errors">
            <small *ngIf="productForm.get('price')?.errors?.['required']">Price is required.</small>
            <small class="val-error" *ngIf="productForm.get('price')?.errors?.['invalidPrice']">Price must be a valid number greater than 0.</small>
          </div>
        </div>

        <div class="inp-featured">
          <input type="checkbox" formControlName="featured">
          <label for="Featured">Featured</label>
        </div>

        <div class="publish-btn">
          <button type="submit" [disabled]="productForm.invalid">Publish</button> <!-- disabled if form is not valid -->
        </div>
      </form>
    </div>
  </div>
</main>
