.product-card {
  padding: 15px;
  height: auto;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.product-image img {
  width: 120px;
  height: 150px; 
  object-fit: cover;
}

.p-data-title {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.p-data-price {
  color: green;
}

a {
    text-decoration: none;
}