<aside class="sidebar" [class.collapsed]="isCollapsed">
    <div class="aside-header" (click)="toggleSidebar()">
      <h2 *ngIf="!isCollapsed" class="logo">Jagarv</h2>
      <i id="icon" class="fa" [ngClass]="isCollapsed ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
    </div>
  
    <nav class="aside-nav">
      <ul>
        <li>
          <i class="fa fa-home"></i>
          <span><a routerLink="/">Home</a></span>
        </li>
        <li>
          <i class="fa fa-shopping-cart"></i>
          <span><a routerLink="/cart">My Cart</a></span>
        </li>
        <li>
          <i class="fa fa-truck"></i>
          <span><a routerLink="/orders">My Orders</a></span>
        </li>
        <li>
          <i class="fa fa-heart"></i>
          <span><a routerLink="/wishlist">My Wishlist</a></span>
        </li>
        <li>
          <i class="fa fa-user"></i>
          <span><a routerLink="/account">My Account</a></span>
        </li>
        <li class="products-li">
          <div class="flex-li">
            <i class="fa fa-box"></i>
            <span><a href="#" class="products-toggle">Products</a></span>
            <i (click)="toggleSubmenu()" *ngIf="!isCollapsed" [ngClass]="isSubmenuOpen ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
          </div>
          <ul class="submenu" [class.open]="isSubmenuOpen">
            <li>
              <i class="fa fa-mobile"></i>
              <span><a routerLink="/products/phones">Smartphones</a></span>
            </li>
            <li>
              <i class="fa fa-laptop"></i>
              <span><a routerLink="/products/pc">PCs</a></span>
            </li>
            <li>
              <i class="fa fa-gamepad"></i>
              <span><a routerLink="/products/consoles">Consoles</a></span>
            </li>
            <li>
              <i class="fa fa-tv"></i>
              <span><a routerLink="/products/tv">TV</a></span>
            </li>
            <li>
              <i class="fa fa-headset"></i>
              <span><a routerLink="/products/music">Music</a></span>
            </li>
          </ul>
        </li>
        <li class="admin-li">
          <i class="fa fa-users-cog"></i>
          <span><a routerLink="/admin" href="Admin">Admin</a></span>
        </li>
      </ul>
    </nav>
  </aside>
  