<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="aside-header" (click)="toggleSidebar()">
    <h2 *ngIf="!isCollapsed" class="logo">Jagarv</h2>
    <i id="icon" class="fa" [ngClass]="isCollapsed ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
  </div>

  <nav class="aside-nav">
    <ul>
      <li>
        <a routerLink="/">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/cart">
          <i class="fa fa-shopping-cart"></i>
          <span>My Cart</span>
        </a>
      </li>
      <li>
        <a routerLink="/orders">
          <i class="fa fa-truck"></i>
          <span>My Orders</span>
        </a>
      </li>
      <li>
        <a routerLink="/wishlist">
          <i class="fa fa-heart"></i>
          <span>My Wishlist</span>
        </a>
      </li>
      <li>
        <a routerLink="/account">
          <i class="fa fa-user"></i>
          <span>My Account</span>
        </a>
      </li>
      <li class="products-li">
        <div class="flex-li">
          <a href="#" class="products-toggle">
            <i class="fa fa-box"></i>
            <span>Products</span>
          </a>
          <i (click)="toggleSubmenu()" *ngIf="!isCollapsed" [ngClass]="isSubmenuOpen ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
        </div>
        <ul class="submenu" [class.open]="isSubmenuOpen">
          <li>
            <a routerLink="/category/Smartphones">
              <i class="fa fa-mobile"></i>
              <span>Smartphones</span>
            </a>
          </li>
          <li>
            <a routerLink="/category/PC">
              <i class="fa fa-laptop"></i>
              <span>PCs</span>
            </a>
          </li>
          <li>
            <a routerLink="/category/Consoles">
              <i class="fa fa-gamepad"></i>
              <span>Consoles</span>
            </a>
          </li>
          <li>
            <a routerLink="/category/TV">
              <i class="fa fa-tv"></i>
              <span>TV</span>
            </a>
          </li>
          <li>
            <a routerLink="/category/Gaming">
              <i class="fa fa-headset"></i>
              <span>Music</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="admin-li">
        <a routerLink="/admin">
          <i class="fa fa-users-cog"></i>
          <span>Admin</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>