<p class="p-title">{{ (product$ | async)?.title || 'Not Provided' }}</p>

<div class="p-description">
  <p>{{ (product$ | async)?.description || 'Not Provided' }}</p>
</div>
<div class="p-buy">
    <!-- the product's attributes, Color, Size, RAM, GB, etc.. -->
  <app-product-details-data-attributes>
      
  </app-product-details-data-attributes>

  <div class="p-buy-buttons">
    <div class="p-buy-now">
      <button>
        Buy Now
      </button>
    </div>
    <div class="p-add-to-cart">
       <app-add-to-cart-button
       [inCart]="(product$ | async)?.inCart ?? false"
       >
           
       </app-add-to-cart-button>
    </div>
  </div>
</div>
