.p-title {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
  }
  
  .p-description p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  .p-buy {
    margin-top: auto;
    height: 100%;
  }
  
  .p-buy-buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .p-buy-now, .p-add-to-cart{
   width: 100%;
  }
  
  .p-buy-now button, .p-add-to-cart button {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: transform 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .p-buy-now button {
    background: #0077ff;
    color: white;
    
  }
  
  .p-add-to-cart button {
    background: #f0f0f0;
    color: #333;
  }
  
  .p-buy-buttons button:hover {
    transform: scale(1.05);
  }
  