<main>
 <div class="user-profile">
    <app-profile-data
    [user]="user"
    >
        
    </app-profile-data>
    
    <div class="user-adress">
      <app-profile-adress
      [address]="user?.adress ?? ''"
      >
            
      </app-profile-adress>
    </div>
    
      <div class="u-data">
        <div class="upfd-wishlist">
          <i class="fa fa-heart"></i>
          <p>My Wishlist</p>
        </div>
        <div class="upfd-orders">
          <i class="fa fa-truck"></i>
          <p>My Orders</p>
        </div>
        <div class="upfd-cart">
          <i class="fa fa-shopping-cart"></i>
          <p>My Cart</p>
        </div>
      </div>
      </div>
</main>