<div class="opinion"> 
    <div class="o-user">
      <img src="/assets/images/istockphoto-579156228-1024x1024.jpg" alt="Screenshot_20240928-011835.png">
      <p class="username">{{ opinion?.user?.username || 'Someone' }}</p>
    </div>
    <div class="o-data">
      <p class="date">2024/07/13</p>
      <div class="b-verify ok">
        <i class="fa fa-check"></i>
        <p>Purchase Verified</p>
      </div>
    </div>
    <div class="o-content">
      <p>{{ opinion?.content || 'Not Provided' }}</p>
    </div>
  </div>