<div class="container">
  <form [formGroup]="resetPasswordForm" class="form">
    <h2>Set Your New Password</h2>
    
    <label>New Password</label>
    <input type="password" formControlName="password" placeholder="Your New Password" required>
    
    <label>Confirm Password</label>
    <input type="password" formControlName="resetPassword" placeholder="Confirm Your Password" required>
    
    <!-- submit button -->
    <app-reset-password-button [form]="resetPasswordForm"></app-reset-password-button>
  </form>
</div>