<main> 
    <div style="overflow-x: auto;">
        <table class="users-table" border="1">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Mail</th>
                    <th>Spent</th>
                    <th>Joined Date</th>
                    <th>Last Login</th>
                    <th>Banned</th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>Spent</td>
                <td>{{ user.joinedAt }}</td>
                <td>{{ user.lastLogin }}</td>
                <td>{{ user.isBanned ? 'Yes' : 'No' }}</td>
                <td class="actions">
                  <button class="actions-profile">
                    <i class="fa fa-user"></i>
                  </button>
                  
                  <app-ban-user 
                  [userId]="user.id ?? null"
                  [isBanned]="user.isBanned ?? false"
                  >
                  </app-ban-user>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</main>