<header>
  <div class="h-logo">
    <a routerLink="/">
      <h2>Jagarv</h2>
    </a>
  </div>

  <div class="h-grow">
    <div class="h-grow-links">
      <div>
        <a routerLink="/bestSellers">Best Sellers</a>
      </div>
      
      <div>
        <a routerLink="/wishlist">My Wishlist</a>
      </div>
      
      <div class="h-admin-l">
        <a routerLink="/admin">Admin</a>
      </div>
    </div>
  </div>

  <div class="h-user">
    <div class="h-cart">
      <a href="/cart">
        <i class="fa fa-shopping-cart"></i>
      </a>
    </div>
    <div>
      <div class="not-logged-in">
        <a routerLink="/profile">
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="rs-sub-header">
  <div class="rs-sub-search">
    <input [(ngModel)]="searchQ" type="search" placeholder="Search Products...">
    <a [href]="'/search/' + searchQ">
      <i class="fa fa-search"></i>
    </a>
  </div>
</div>