<main>
  <div class="mh">
    <h2>Add Variant</h2>
  </div>

  <div class="wrapper">
    <div class="create-product-form">
      <form [formGroup]="variantForm">
        <!-- Price Input -->
        <div class="input-group">
          <label for="Price">New Price</label>
          <input type="text" formControlName="price" placeholder="New Price">
        </div>

        <!-- Stock Input -->
        <div class="input-group">
          <label for="Stock">Variant Stock</label>
          <input type="number" formControlName="stock" placeholder="Variant Stock">
        </div>

        <!-- Dynamic Attributes Section -->
        <div class="attributes">
          <div class="attribute">
            <label>plsceholder</label>
            <select formControlName="options">
              <option>option</option>
            </select>
          </div>
        </div>
        
        <div class="publish-btn">

        </div>
      </form>
    </div>
  </div>
</main>