<main>
  <div class="mh">
    <h2>Add Variant</h2>
  </div>

  <div class="wrapper">
    <div class="create-product-form">
      <form [formGroup]="variantForm">
        <!-- Price Input -->
        <div class="input-group">
          <label for="Price">New Price</label>
          <input type="text" formControlName="price" placeholder="New Price">
        </div>

        <!-- Stock Input -->
        <div class="input-group">
          <label for="Stock">Variant Stock</label>
          <input type="number" formControlName="stock" placeholder="Variant Stock">
        </div>
        
        <!-- variant images selection -->
        <div class="inp-images">
          <app-product-images-form (picturesChange)="onPicturesChange($event)" formControlName="pictures"></app-product-images-form>
          <div *ngIf="variantForm.get('pictures')?.invalid && variantForm.get('pictures')?.touched">
            <small class="val-error" *ngIf="variantForm.get('pictures')?.errors?.['emptyArray']">At least one image is required.</small>
          </div>
        </div>

        <div class="attributes">
          <div *ngFor="let attribute of product?.category?.attributes">
            <label>{{ attribute.name }}</label>
            <select>
              <option *ngFor="let option of attribute.options" [value]="option.id">
                {{ option.value }}
              </option>
            </select>
          </div>
        </div>
        
        
        <div class="publish-btn">

        </div>
      </form>
    </div>
  </div>
</main>