.p-buy-options {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .p-buy-option select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
  }
  
.p-buy-quantity {
    padding-top: 10px;
}

.p-buy-quantity input {
    
}