<div *ngIf="product$ | async as product">
  <div class="p-buy-quantity">
    <input 
      type="number" 
      [min]="1" 
      [max]="product.stock" 
      (change)="onQuantityChange($event)" 
      />
  </div>
  <div class="p-buy-options">
    <div *ngFor="let attribute of product.category.attributes" class="p-buy-option">
      <label>{{ attribute.name }}</label>
      <select (change)="onOptionChange($event, attribute.name)">
        <option *ngFor="let option of attribute.options" [value]="option.id">
          {{ option.value }}
        </option>
      </select>
    </div>
  </div>
</div>