<div class="login-form">
  <div class="lf-logo">
    <h1>Jagarv</h1>
  </div>
  <div>
    <h2>¡Welcome Back!</h2>
  </div>

  <div class="form">
    <form [formGroup]="loginForm">
      <div class="inps">
        <div class="inp">
          <input
            type="email"
            placeholder="Your Email"
            formControlName="email"
          />
          <div *ngIf="loginForm?.get('email')?.invalid && (loginForm?.get('email')?.dirty || loginForm?.get('email')?.touched)">
            <small class="val-error" *ngIf="loginForm?.get('email')?.errors?.['required']">Email Is Required</small>
            <small class="val-error" *ngIf="loginForm?.get('email')?.errors?.['email']">Email is not valid</small>
          </div>
        </div>

        <div class="inp">
          <input
            type="password"
            placeholder="Your Password"
            formControlName="password"
          />
          <div *ngIf="loginForm?.get('password')?.invalid && (loginForm?.get('password')?.dirty || loginForm?.get('password')?.touched)">
            <small class="val-error" *ngIf="loginForm?.get('password')?.errors?.['required']">Password is required</small>
          </div>
        </div>
        
        <!-- submit button -->
        <div class="btn">
          <app-login-submit-button [form]="loginForm">
          </app-login-submit-button>
        </div>
      </div>
    </form>

    <div class="links">
      <a href="#" class="forgot-password">I Forgot Password</a>
      <a href="#" class="create-account">Create Account</a>
    </div>
    <div class="or">
      <p>OR</p>
    </div>
    <div class="social-logins">
        <!-- google auth button -->
      <app-google-auth-button>
          
      </app-google-auth-button>
    </div>
  </div>
</div>
