#card-element {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  background-color: #5469d4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4353b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}