<div class="main-slider">
    <div class="parent-image">
        <div (click)="decrementImage()" class="slider-action-left">
            <i class="fa fa-arrow-left"></i>
        </div>
        <img [src]="(product$ | async)?.pictures?.[imageIndex] || '/assets/images/istockphoto-579156228-1024x1024.jpg'">
        <div (click)="incrementImage()" class="slider-action-right">
            <i class="fa fa-arrow-right"></i>
        </div>
    </div> 
    <div class="children-images">
        <div 
        *ngFor="let image of (product$ | async)?.pictures; let i = index;" 
        class="image"
        (click)="changeImage(i)">
            <img [src]="image || '/assets/images/istockphoto-579156228-1024x1024.jpg'">
        </div>
    </div>
</div>