<div class="top-products">
  <h3>Most <i class="fa fa-fire"></i> Products</h3>
  <div class="table-container">
    <table class="top-products-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Orders</th>
          <th>Stock</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of dashboard?.mostOrderedProducts">
          <td class="product-cell">
            <img [src]="product[2]" alt="Producto" class="product-image">
            <span class="product-title">{{ product[1] }}</span>
          </td>
          <td>{{ product[3] }}</td>
          <td>{{ product[4] }}</td>
          <td>${{ product[5] }}</td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>